<div>
  <div>
    <div>
      {{ votes }}
    </div>
    <div>
      Points
    </div>
  </div>
</div>
<div>
  <a href="{{ link }}"></a>
  <ul>
    <li class="item">
      <a href (click)="voteUp()">
        <i class="up icon"> Voto a favor</i>
      </a>
    </li>
    <li class="item">
      <a href (click)="voteDown()">
        <i class="down icon"> Voto en contra</i>
      </a>
    </li>
  </ul>
</div>