<form>
  <h3>Agregar link</h3>
  <div>
    <label for="title">Título:</label>
    <input name="title" type="text" #newtitle>
  </div>
  <div>
    <label for="link">Link:</label>
    <input name="link" type="text" #newlink>
  </div>
  <button (click)="addLink(newtitle, newlink)">Add Link</button>
  <app-article></app-article>
</form>
